#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h2 {
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgb(245, 245, 245);
  font-size: 18px;
  line-height: 1.4;
}

.books {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
.book {
  width: 170px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.book-image {
  width: 100%;
  background: #363636;
  border-radius: 4px;
  height: 233px;
}

.book span:not(.book-title) {
  color: #888;
  font-size: 14px;
  line-height: 1.4;
}
.book-title {
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: rgb(245, 245, 245);
  font-size: 16px;
  line-height: 1;
}

form {
  margin-top: 36px;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
}

form:focus-visible{
  border: none;
  outline: none;
}
input {
  width: 80%;
  height: 40px;
  border-radius: 4px;
  background: none;
  border: 1px solid #363636;
  padding: 0 16px;
  color: rgb(245, 245, 245);
  font-size: 16px;
}
input:focus-visible{
  outline: none;
}
input:focus{
  border-color: #646cff;
}
input::placeholder {
  font-size: 16px;
  color: rgb(245, 245, 245);
}
